* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: linear-gradient(45deg, #8a2387, #e94057, #f27121);
    --text-clr: #fff;
    --h1-font: 3rem;
    --p-font: 18px;
}

header {
    /* position: relative; */
    width: 100%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 20px 10% 20px;
    color: var(--text-clr);
}
h1 {
    font-size: var(--h1-font);
}

.header-list {
    display: flex;
    gap: 30px;
    /* border: 1px solid ; */
    padding-right: 20px;
}

.header-list li {
    list-style: none;
}
.header-list li a{
    text-decoration: none;
    color: var(--text-clr);
    font-size: var(--p-font);
    position: relative;
}
.header-list li a::after{
    content: '';
    position: absolute;
    top: 20px;
    right: 1px;
    background-color: var(--text-clr);
    width: 0;
    height: 3px;
    transition: .4s ease;
}

.header-list li a:hover::after{
    width: 100%;
}

#menu-icon{
    display: none;
    font-size: var(--h1-font);
    cursor: pointer;
    z-index: 2;
}

/* Responsiveness  */
@media (max-width: 768px){
    #menu-icon{
        display: block;
    }
    header{
        padding: 10px 3%;
        /* position: relative; */
        transition: .4s ease;
    }
    .header-list {
        position: absolute;
        top: 0;
        /* left: ; */
        right: -70%;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* width: 100%; */
        height: 100%;
        padding: 20px 25px;
        background: black;
    }
    .header-list li{
        margin-top: 30px;
        padding: 10px;
    }
    .header-list .active {
        /* left: 0; */
        right: ;
    }
}

